body
{
	background-color: white;
	font-family: 'Lato', sans-serif;
}

#logo
{
	float: left;
	width: 600px;
	text-align: center;
	padding-top: 15px;
	padding-right: 25px;
}

#menu
{
	float: left;
	text-align: center;
	width: 600px;
	padding-left: 25px;
	padding-top: 5px;

}


ol > li
{
	list-style-type: none;
	margin-right: 10px;
	float: left;
}

ol>li:hover
{
	color: #bd9975;
}

a:link
{
  color: white;
  text-decoration: none;
}

a:visited
{
  color: white;
  text-decoration: none;
}

a:hover
{
  color: #a07870;
  text-decoration: none;
}

a:active
{
  color: black;
  text-decoration: none;
}


#container
{
	width: 1300px;
	padding: 15px;

}

#mountain
{
	background-size: 100%;
	filter: brightness(50%);
	background-image: url("mountain.png");
	height: 440px;
	min-height: 440px;
	padding-top: 160px;
	min-width: 1300px;
	text-align: center;
	color: white;
}

#tekst > p
{
	margin: 5px;
	color: white;
}

input[type=submit]
{
	width: 150px;
	background-color:#a68064;
	font-size: 14px;
	color: white;
	padding: 15px 5px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.home
{
	font-size: 12px;
	min-height: 50px;
	width: 1300px;
	background-color: rgba(127, 82, 42, 0.5);
	background: rgba(127, 82, 42, 0.5);
	color: rgba(127, 82, 42, 0.5);
	 opacity:0.6;

}


.about
{
	padding-top: 50px;
	padding-bottom: 25px;
	padding-right: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #404040;
}



.square
{
	padding-left: 135px;
	text-align: center;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: white;
	float: left;
	color: ##404040
}

.tile1:hover
{
	color: #bd9975
}

.block
{
	padding: 20px;
	height: 30px;
	background-color: #5d4c3c
}

.blog
{
	text-align: center;
	padding-left: 350px;
	padding-right: 350px;
}

.text
{
	font-size: 12px;
	color: #8c8c8c
}

.footer
{
	background-color: #1a1a1a;
	clear: both;
	color: #a6a6a6;
	text-align: left;
	padding: 20px;
	font-size: 10px;
	min-height: 10px;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.footerlist > li
{
	list-style-type: none;
	float: left;
	border-right: solid 1px #8c8c8c;
  padding: 3px;
}
