body
{
	background-color: white;
}

#logo
{
	float: left;
	width: 600px;
	text-align: center;
	padding-top: 18px;
	padding-right: 25px;
  color: white;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
}

#menu
{
	float: left;
	text-align: center;
	width: 600px;
	padding-left: 25px;
	padding-top: 5px;

}


ol > li
{
	list-style-type: none;
	margin-right: 10px;
	float: left;
}

ol>li:hover
{
	color: #bd9975;
}

a:link
{
  color: white;
  text-decoration: none;
}

a:visited
{
  color: white;
  text-decoration: none;
}

a:hover
{
  color: #a07870;
  text-decoration: none;
}

a:active
{
  color: black;
  text-decoration: none;
}


#container
{
	width: 1300px;
	padding: 15px;

}

#mountain
{
	background-size: 100%;
	filter: brightness(60%);
	background-image: url("mountain.png");
	height: 440px;
	min-height: 440px;
	padding-top: 160px;
	min-width: 1300px;
	text-align: center;
	color: white;
}


#tekst > p
{
	font-family: Montserrat, sans-serif;
	margin: 5px;
	color: white;
}

input[type=submit]
{
	width: 150px;
	background-color:#a68064;
	font-size: 14px;
	color: white;
	padding: 15px 5px;
	/*margin-top: 20px;*/
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}


.home
{
	font-size: 12px;
	min-height: 50px;
	width: 1300px;
	background: #333;
	background-image: linear-gradient(to right, #4d2600, #7b4928);
	color: rgba(127, 82, 42, 0.5);
	 opacity:0.6;

}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*changes brightness of mountain */

#headerimage
{
filter: brightness(60%);
}

.about
{
	padding-top: 50px;
	padding-bottom: 25px;
	padding-right: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #404040;
	font-family: Montserrat, sans-serif;
}



.square
{
	padding-left: 135px;
	text-align: center;
	font-family: Montserrat, sans-serif;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: white;
	float: left;
	color: ##404040
}

.tile1:hover
{
	color: #bd9975
}




.block {
	  color: white;
    border: 0;
    height: 90px;
    background: #333;
    background-image: linear-gradient(to right, #202020, #ac9175);
		font-family: Montserrat, sans-serif;
}

span
{
	color: #d9b38c
}

#span
{
	float: left;
	width: 400px;
	padding-left: 270px;
	padding-top: 28px;
}

#inputplace
{
	float: left;
	width: 300px;
	height: 50px;
	padding-top: 23px;
	padding-left: 300px;
}

.rectangle
{
	height: 70px;
}

.blog
{
	text-align: center;
	padding-left: 380px;
	padding-right: 380px;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
}

.text
{
	font-size: 12px;
	color: #8c8c8c
	font-family: Montserrat, sans-serif;
	letter-spacing: 0.5px;
}

h5
{
	font-family: Montserrat, sans-serif;
	font-weight: lighter;
	font-size: 14px;
}

.tile2
{

	height: 350px;
	margin: 12px;
	width:200px;
	float: left;
}

.tile2:hover
{
	filter: brightness(60%);
	background-color: #857a61;
	color: #e6ccb3;

}

.tile4
{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.tile3
{
	padding-left: 24%;
}

.footer
{
	background-color: #1a1a1a;
	clear: both;
	color: #a6a6a6;
	text-align: left;
	padding: 20px;
	font-size: 10px;
	min-height: 10px;
}

.option:hover
{
	background-color: #000000;

}



.footerlist > li
{

	list-style-type: none;
	float: left;
	border-right: solid 1px #8c8c8c;
  padding: 3px;
}
