body
{
	background-color: white;
}

#logo
{
	float: left;
	width: 600px;
	text-align: center;
	padding-top:10px;
	padding-right: 25px;
  color: white;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
}

#menu
{
	float: left;
	text-align: center;
	width: 600px;
	padding-left: 25px;
	padding-top: 6px;
}


ol > li
{
	list-style-type: none;
	margin-right: 10px;
	float: left;
}

ol>li:hover
{
	color: #deaa96;
}

a:link
{
  color: white;
  text-decoration: none;
}

a:visited
{
  color: white;
  text-decoration: none;
}

a:hover
{
  color: #e4bcb4;
  text-decoration: none;
}

a:active
{
  color: black;
  text-decoration: none;
}


#container
{
	width: 1300px;
	padding: 15px;

}

#mountain
{
	background-size: 100%;
	background-image: url("mountain.png");
	height: 440px;
	min-height: 440px;
	padding-top: 160px;
	min-width: 1300px;
	text-align: center;
	color: white;
}


#tekst > p
{
	font-family: Montserrat, sans-serif;
	margin: 5px;
	color: white;
}

input[type=submit]
{
	width: 150px;
	background-color:#a68064;
	font-size: 14px;
	color: white;
	padding: 15px 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}


.home
{
	font-size: 12px;
	min-height: 50px;
	width: 1300px;
	background: #a68064;
	color: rgba(127, 82, 42, 0.5);
	opacity:0.3;
	position: absolute;
	top: auto;
	transform: translate(0%, -1395%);
}

/* Container holding the image and the text */
.container
{
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered
{
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about
{
	padding-top: 50px;
	padding-bottom: 25px;
	padding-right: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #404040;
	font-family: Montserrat, sans-serif;
}

.square
{
	padding-left: 135px;
	text-align: center;
	font-family: Montserrat, sans-serif;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: white;
	float: left;
	color: ##404040
}

.tile1:hover
{
	color: #bd9975
}

.block
{
	  color: white;
    border: 0;
    height: 95px;
    background: #333;
    background-image: linear-gradient(to right, #202020, #ac9175);
		font-family: Montserrat, sans-serif;
}

span
{
	color: #d9b38c
}

#span
{
	float: left;
	width: 400px;
	padding-left: 270px;
	padding-top: 28px;
}

#inputplace
{
	float: left;
	width: 300px;
	height: 50px;
	padding-top: 23px;
	padding-left: 300px;
}

.rectangle
{
	height: 70px;
}

.blog
{
	text-align: center;
	padding-left: 380px;
	padding-right: 380px;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	color: #404040;
}

.text
{
	font-size: 12px;
	color: #8c8c8c;
	font-family: Montserrat, sans-serif;
	letter-spacing: 0.5px;
}

.tile2 > h5
{
	font-family: Montserrat, sans-serif;
	font-weight: lighter;
	font-size: 14px;
	padding-left: 15px;
}

.tile2
{
	height: 300px;
	margin: 12px;
	width:220px;
	float: left;
	margin-bottom: 50px;
	position: relative;
}

.tile2:hover
{
	filter: brightness(60%);
	background-color: #857a61;
	color: #e6ccb3;

}

.tile2 > h6
{
	font-family: Montserrat, sans-serif;
	font-weight: lighter;
	font-size: 10px;
	padding-left: 15px;
}


.tile2 > p
{
	color: gray;
	padding-left: 15px;
}

.tile2:hover > p
{
	color: white;
}

.tile3
{
	width: 1000px;
	padding-left: 300px;
}

.footer
{
	background-color: #1a1a1a;
	clear: both;
	color: #5f5f5f;
	text-align: left;
	padding-bottom: 32px;
	padding-top: 10px;
	font-size: 11px;
	height: 20px;
}

.option:hover
{
	background-color: #000000;

}

.footerlist
{
	padding-left: 250px;
	float: left;
}

.footerlist > li
{
	list-style-type: none;
	float: left;
	border-right: solid 1px #5f5f5f;
  margin: 5px;
	padding-right: 10px;
}

.footerlist > li > a
{
	color:#5f5f5f;
}

.footerlist > li > a:hover
{
	color:#a6a6a6;
}

.tile2:hover > .icon
{
	position: absolute;
}

.icon
{
	position: absolute;
}

.tile2 > time.icon
{
  font-size: 5px; /* change icon size */
  display: block;
  width: 7em;
  height: 7em;
  background-color: #1f1f1f;
  margin: 12px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

.tile2 > time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}


.tile2 > time.icon em
{

  bottom: 0.3em;
  color: #fff;
	background-color: #1f1f1f;
	font-size: 10px;
}


.tile2 > time.icon span
{
	font-size: 20px;
  color: #fff;
	background-color: #2f2f2f;
}

.tile2:hover > time.icon
{
	background-color: #ac9175;
}

.tile2:hover > time.icon em
{
	background-color: #ac9175;
}

.tile2:hover > time.icon span
{
	background-color: #bda286;
}
